{{template "header" .}}

<div class="content mb-3 p-4">
  
  <div class="row d-flex justify-content-center">
    <h1 id="title" class="flow-text">DCR Tippin</h1>
  </div>
</div>

<div class="content mb-3 p-4">
  <h2>Generate Invoice</h2>
  <form id="generateInvoiceForm" method="post" enctype="multipart/form-data" action="/?action={{ .GenerateInvoiceAction }}">

      <div class="form-group">
        <label for="node">
		      Invoice Amount (in DCR - maximum amount is <b>0.2</b>)
        </label>

        <input class="form-control {{if eq .SubmissionError 3 10 11 12 }}is-invalid{{end}}"
        {{if .FormFields }}value="{{.FormFields.Amt}}"{{end}}
        id="amt" name="amt" type="number" required="true" placeholder="0.01" max="0.2" step="0.0001">

        {{ if eq .SubmissionError 3 10 11 12 }}
          <div class="invalid-feedback">{{printf "%v" .SubmissionError}}</div>
        {{end}}
      </div>

      <div class="form-group">
        <label for="node">
          Description
        </label>
        <input class="form-control" {{if .FormFields }}value="{{.FormFields.Description}}"{{end}}
        id="description" name="description" type="text" maxlength="255">
      </div>

      {{ if .InvoicePaymentRequest}}
        <div class="form-group" >
          <h4>Invoice successfully generated</h4>
          <div class="content p-4" style="word-break: break-all">
            <p>{{ .InvoicePaymentRequest }}</p>
          </div>
        </div>
      {{ end }}

      <div class="form-group row justify-content-center">
        <button class="btn btn-outline-primary btn-outline-primary--inverted d-lg-inline-block d-block mb-3 px-4" type="submit">Generate Invoice</button>
      </div>

      <script>
        (function() {
          $("input").change(function() {
            $(this).removeClass("is-invalid");
          });
        })();
      </script>
  </form>
</div>

<div class="pb-4">
</div>

{{template "footer" .}}
